name: Link Check

on:
  workflow_dispatch:
  schedule:
    # Runs every week at 00:00 on Sunday
    - cron: '0 0 * * 0'

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run link check action
        uses: ./.github/actions/link-check
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
